.external-transfer__step-one {
  .input {
    input {
      border-radius: 16px;
      padding: 8px 16px;
      background: #13121b;
      border: 1px solid #13121b;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #fff;
      &.error_input {
        color: #f64e2a;
      }
      &:focus {
        border-color: #f64e2a;
      }
      &::placeholder {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #7a74ba;
      }
    }
  }
  .address-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #181720;
    border-radius: 16px;
    padding: 8px 16px;
    .left-block {
      display: flex;
      align-items: center;
      gap: 8px;
      .coin-img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .address-info {
        .address-title {
          margin-bottom: 4px;
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: #fff;
        }
        .address-code {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: #7a74ba;
        }
      }
    }
  }
  .form-control {
    padding: 70px 0;
    .form-input {
      width: 100%;
      background: transparent;
      border: 0;
      font-family: 'Hector', sans-serif;
      font-weight: 400;
      font-size: 48px;
      line-height: 125%;
      text-align: center;
      color: #fff;
      &.error_input {
        color: #f64e2a;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: 'Hector', sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 125%;
        text-align: center;
        color: #7a74ba;
      }
    }
    .error-text {
      display: block;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      text-align: center;
      color: #f64e2a;
    }
  }
  .external-transfer_select {
    background: #13121b;
    border-radius: 12px;
    padding: 3px 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 12px;
    position: relative;
    z-index: 2;
    .from-text {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: #67639a;
    }
    .coin-select {
      width: 100%;
      .select-btn {
        border-color: transparent;
        .left-block {
          .coin-info-head {
            gap: 0;
            .coin-name {
              font-weight: 400;
              font-size: 14px;
              line-height: 120%;
            }
            .coin-price {
              font-weight: 500;
              font-size: 12px;
              line-height: 120%;
            }
          }
        }
      }
      .select-menu {
        width: calc(100% + 68px);
        left: -56px;
        border-radius: 0 0 12px 12px;
        padding-top: 10px;
        &.show {
          top: calc(100% - 6px);
        }
      }
    }
  }
  .number-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    background: #13121b;
    border-radius: 16px;
    padding: 16px;
    margin-bottom: 14px;
    .number-btn,
    .action-btn {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #1e1d28;
      border-radius: 20px;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 32px;
      line-height: 135%;
      text-align: center;
      color: #fff;
      transition: 0.3s;
      &:hover {
        background: #343243;
      }
    }
    .max-btn {
      font-size: 24px;
      line-height: 140%;
    }
  }
  .draggable-modal {
    backdrop-filter: blur(0);
    display: flex;
    align-items: end;
    .draggable-modal-content {
      width: 100%;
      height: auto;
      border-radius: 30px 30px 0 0;
      background: #181720;
      padding: 0 16px 24px;
      .drag-handle-container {
        background: #181720;
        margin-bottom: 10px;
      }
      &__in {
        background: #181720;
        .modal-title {
          margin-bottom: 15px;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 140%;
          color: #fff;
        }
        .saved-addresses__list {
          width: calc(100% + 32px);
          margin-left: -16px;
          .list-item {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 11px 16px;
            border-bottom: 1px solid #2b2b41;
            &:last-child {
              border: 0;
            }

            .coin-img {
              width: 28px;
              height: 28px;
              border-radius: 50%;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .address-info {
              .address-title {
                margin-bottom: 4px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                color: #fff;
              }
              .address-code {
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 14px;
                line-height: 130%;
                color: #7a74ba;
              }
            }
          }
        }
      }
    }
  }
}