.main-dashboard {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 14px 0 90px;

  .wallet-overview {
    .wallet-balance {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      .left-block {
        .balance-title {
          font-family: "Roboto", sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 130%;
          color: #fff;
        }
        .wallet-balance__info {
          display: flex;
          align-items: center;
          gap: 8px;
          .coin-icon {
            height: 100%;
            span {
              font-family: "Hector", sans-serif;
              font-weight: 400;
              font-size: 32px;
              line-height: 125%;
              color: #fff;
            }
          }
          .wallet-balance__value {
            font-family: "Hector", sans-serif;
            font-weight: 400;
            font-size: 32px;
            line-height: 125%;
            color: #fff;
          }
          .wallet-select__wrapper {
            display: flex;
            align-items: center;
            .wallet-select {
              background: transparent;
              border: none;
              outline: none;
              box-shadow: none;
              background: none;
              cursor: pointer;
              font-family: "Roboto", sans-serif;
              font-weight: 500;
              font-size: 14px;
              line-height: 130%;
              color: #fff;
              &:checked {
                outline: none;
                border: none;
              }
              option {
                background: #000;
              }
            }
          }
        }
      }
      .wallet-history {
        .history-link {
          display: flex;
          align-items: center;
          gap: 7px;
          border-radius: 12px;
          padding: 7px 10px;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 135%;
          color: #b2aaf9;
          transition: 0.3s;
          &:hover {
            color: #fff;
            svg {
              path {
                stroke: #fff;
              }
            }
          }
          svg {
            width: 7px;
            path {
              stroke: #b2aaf9;
              transition: 0.3s;
            }
          }
        }
      }
    }

    .wallet-action-buttons {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
      .new-oracle-button {
        padding: 9px 0;
        line-height: 18px;
      }
    }
  }
  .prepaid-cards {
    &__head {
      margin-bottom: 12px;
      padding: 4px 0;
      .prepaid-cards__link {
        display: flex;
        align-items: center;
        gap: 10px;
        font-family: "Hector", sans-serif;
        font-weight: 400;
        font-size: 20px;
        letter-spacing: 0.05em;
        color: #fff;
      }
    }
  }
  .oracle-services {
    &__head {
      margin-bottom: 12px;
      font-family: "Hector", sans-serif;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.05em;
      color: #fff;
    }
  }
  .create-account__btn {
    img {
      height: 20px;
    }
  }

  .select-method__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .method-item {
      display: flex;
      align-items: center;
      gap: 12px;
      background: #1e1d28;
      border-radius: 12px;
      padding: 12px;
      &:first-child {
        .method-img {
          img {
            height: 20px;
          }
        }
      }
      &:nth-child(3) {
        .method-img {
          img {
            height: 20px;
          }
        }
      }
      .method-img {
        width: 36px;
        min-width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        background: #262530;
      }
      .method-name {
        width: 100%;
        margin-bottom: 4px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        color: #fff;
      }
      .method-description {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 135%;
        color: #b2aaf9;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .hide_on_desktop {
    display: flex;
  }
  .main-dashboard-desktop {
    display: none;
  }
  .main-dashboard {
    padding: 14px 16px 90px;
  }
}
@media (min-width: 1024px) {
  .main-dashboard-desktop {
    padding: 16px 24px;
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .dashboard-first-line {
    display: grid;
    // grid-template-columns: 2fr 2fr 1fr;
    grid-template-columns: 2.6fr 5fr;
    grid-template-rows: auto;
    gap: 16px;
  }
  .dashboard-second-line {
    display: grid;
    grid-template-columns: 2.6fr 2fr 3fr;
    grid-template-rows: auto;
    gap: 16px;
  }
  .hide_on_desktop {
    display: none;
  }
  .hide_on_mobile {
    display: flex;
  }
  .dashboard-home__block .home-cards {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
  .main-dashboard-desktop .wallet-overview {
    background: #14131b;
    padding: 16px 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .desktop_model {
    padding: 16px 20px;
    border: 1px solid #2b2741;
    display: flex;
    flex-direction: column;
    // gap: 12px;
    border-radius: 16px;
    overflow: hidden;
  }
  .desktop_model_title {
    font-family: Hector;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #ffffff;
  }

  .desktop_model-services {
  }
}
