.swap-page {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 16px 24px;
  display: flex;
  flex-direction: column;
  @media (min-width: 1024px) {
    max-width: 500px;
  }
  &__content {
    flex: 1 1 100%;
    .swap-page__converter {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      margin-bottom: 75px;

      .coin-converter {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: #13121b;
        border-radius: 8px;
        padding: 8px 16px 16px 16px;
        .input-coin {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .form-control {
            .form-input {
              width: 100%;
              height: 40px;
              background: transparent;
              padding: 0 20px 0 0;
              border: none;
              font-family: 'Hector', sans-serif;
              font-weight: 400;
              font-size: 32px;
              line-height: 125%;
              color: #fff;
              &:focus {
                outline: none;
              }
              &::placeholder {
                font-family: 'Hector', sans-serif;
                font-weight: 400;
                font-size: 32px;
                line-height: 125%;
                color: #7a74ba;
              }
            }
          }
          .coin-name {
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 130%;
            color: #67639a;
          }
          .max-btn {
            margin-left: 8px;
            cursor: pointer;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 130%;
            color: #f64e2a;
          }
        }
        .coin-converter__to-usd {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 2px;
          .to-usd__value {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: rgba(131, 131, 175, 0.8);
            span {
              font-size: 12px;
            }
          }
          .form-control {
            width: 100%;
            position: relative;
            .form-input {
              width: 100%;
              height: 16px;
              position: relative;
              z-index: 2;
              background: transparent;
              padding: 0 20px 0 0;
              border: none;
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-size: 16px;
              line-height: 120%;
              color: #fff;
              &:focus {
                outline: none;
              }
              &::placeholder {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 12px;
                text-transform: capitalize;
                line-height: 120%;
                color: #7a74ba;
              }
            }
            .input-placeholder {
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-size: 12px;
              line-height: 120%;
              color: rgba(131, 131, 175, 0.8);
              span {
                font-size: 16px;
              }
            }
          }
        }
      }
      .coin-converter__input {
        position: relative;
        z-index: 6;
      }
      .coin-converter__output {
        .coin-select {
          .select-btn {
            .left-block {
              .coin-info-head {
                display: block;
                .coin-name {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 120%;
                }
              }
            }
          }
        }
      }
      .coin-convert__icon {
        border-radius: 8px;
        width: 34px;
        height: 34px;
        background: #181720;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.2s;
        .convert-icon {
          width: 18px;
          height: 18px;
        }
        &.active {
          width: 40px;
          height: 40px;
        }
      }
    }
    .swap-info {
      &__fees,
      &__coin {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
      }
      &__coin {
        margin-bottom: 16px;
      }
      &__label,
      &__pair {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #7a74ba;
      }
      &__amount,
      &__rate {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #fff;
      }
      .new-oracle-button {
        padding: 11px;
        line-height: 22px;
      }
    }
  }
  .draggable-modal {
    backdrop-filter: blur(0);
    display: flex;
    align-items: end;
    .draggable-modal-content {
      width: 100%;
      height: auto;
      border-radius: 30px 30px 0 0;
      background: #181720;
      padding: 0 16px 24px;
      .drag-handle-container {
        background: #181720;
        margin-bottom: 10px;
      }
      &__in {
        background: #181720;
        min-height: auto;
        .modal-title {
          margin-bottom: 12px;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 140%;
          color: #fff;
        }
        .coins-list {
          .list-item {
            width: calc(100% + 32px);
            margin-left: -16px;
            border-bottom: 1px solid #28283a;
            &:last-child {
              border: 0;
            }
            &__label {
              display: flex;
              align-items: center;
              gap: 12px;
              padding: 10px 16px;
              cursor: pointer;
              .form-input {
                display: none;
                &:checked + .checkbox-button {
                  background: #f64e2a;
                  border-color: #f64e2a;
                  .check-icon {
                    opacity: 1;
                  }
                }
              }
              .checkbox-button {
                min-width: 18px;
                min-height: 18px;
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                border: 1px solid #7a74ba;
                transition: 0.1s;
                .check-icon {
                  line-height: 0;
                  opacity: 0;
                  transition: 0.1s;
                }
              }
              .coin-info {
                width: 100%;
                display: flex;
                align-items: center;
                gap: 8px;
                .coin-body {
                  width: 100%;
                  .body-head,
                  .body-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                  }
                  .body-bottom {
                    .card-num,
                    .coin-convert {
                      font-family: 'Roboto', sans-serif;
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 135%;
                      color: #7a74ba;
                    }
                  }
                  .body-head {
                    .coin-name,
                    .coin-convert {
                      font-family: 'Roboto', sans-serif;
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 130%;
                      color: #fff;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .successful-modal,
  .failed-modal {
    padding: 24px 16px;
    .modal-content {
      display: flex;
      flex-direction: column;
      padding: 0;
      .modal-body {
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .icon {
          margin-bottom: 12px;
        }
        .modal-title {
          margin-bottom: 38px;
          font-family: 'Hector', sans-serif;
          font-weight: 400;
          font-size: 24px;
          line-height: 130%;
          text-align: center;
          color: #fff;
        }
        .modal-description {
          font-family: 'Roboto', sans-serif;
          font-weight: 400;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: #fff;
        }
        .conversion-info {
          &__pair {
            margin-bottom: 4px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            text-align: center;
            color: #31f62a;
          }
          &__result {
            margin-bottom: 12px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            text-align: center;
            color: #fff;
          }
          &__rate-change {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            text-align: center;
            color: #b2aaf9;
            span {
              text-decoration: line-through;
            }
          }
        }
      }
      .new-oracle-button {
        padding: 11px;
        line-height: 22px;
      }
    }
  }
  .failed-modal {
    .new-oracle-button {
      background: #fff;
      color: #000;
      &:hover {
        box-shadow: none;
      }
    }
  }
}