.privacy-security {
  padding-bottom: 24px;
  
  .main-container {
    @media (min-width: 1024px) {
      max-width: 100%;
      padding: 0;
    }
  }
  
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    .input {
      input {
        padding-right: 80px;
        font-weight: 400;
        color: #67639a;
      }
      &-eye {
        display: none;
      }
    }
  }
  &__group {
    position: relative;
    .new-oracle-button {
      width: auto;
      border-radius: 8px;
      padding: 10px 13px;
      position: absolute;
      bottom: 4px;
      right: 4px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #fff;
    }
  }
  &__list {
    margin-bottom: 24px;
  }

  .list-item-wrapper {
    cursor: pointer;
    transition: opacity 0.2s ease;
    
    &:hover {
      opacity: 0.8;
    }
  }
} 